{{ pageAddAsset('javascript', zasset('jquery-ui/jquery-ui.js')) }}
{{ pageAddAsset('stylesheet', asset('jquery-ui/themes/base/jquery-ui.min.css')) }}
{{ pageAddAsset('stylesheet', zasset('@ZikulaEZCommentsModule:css/style.css')) }}

<h3>{% trans %}Comments Stats{% endtrans %}</h3>
<table class="table table-striped">
    <thead>
    <tr>
        <th>{% trans %}Category{% endtrans %}</th>
        <th>{% trans %}Result{% endtrans %}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{% trans %}Total Comments{% endtrans %}</td>
        <td>{{ counts.totalComments }}</td>
    </tr>
    <tr>
        <td>{% trans %}Modules that have comments{% endtrans %}</td>
        <td>{{ counts.modules }}</td>
    </tr>
    <tr>
        <td>{% trans %}Users with Comments{% endtrans %}</td>
        <td>{{ counts.users }}</td>
    </tr>
    <tr>
        <td>{% trans %}Last Post By{% endtrans %}</td>
        <td>{{ counts.lastPost.0.anonname }}</td>
    </tr>
    <tr>
        <td>{% trans %}Most Active Poster{% endtrans %}</td>
        <td>{{ counts.mostActive.name }} {% trans %}with{% endtrans %} {{ counts.mostActive.number}} {% trans %}posts{% endtrans %}</td>
    </tr>
    <tr>
        <td>{% trans %}Post Rate{% endtrans %}</td>
        <td> {{ counts.postRate|number_format(3) }} {% trans %} posts per day.{% endtrans %}</td>
    </tr>
    </tbody>
</table>
