{{ pageAddAsset('javascript', zasset('jquery-ui/jquery-ui.js')) }}
{{ pageAddAsset('stylesheet', asset('jquery-ui/themes/base/jquery-ui.min.css')) }}
{{ pageAddAsset('stylesheet', zasset('@ZikulaEZCommentsModule:css/style.css')) }}

<h3>
    <i class="fas fa-chart-bar"></i>
    {% trans %}Comments stats{% endtrans %}
    {{ pageSetVar('title', 'Comments stats'|trans) }}
</h3>
<table class="table table-bordered table-striped">
    <colgroup>
        <col id="cCategory" />
        <col id="cResult" />
    </colgroup>
    <thead>
        <tr>
            <th id="hCategory" scope="col">{% trans %}Category{% endtrans %}</th>
            <th id="hResult" scope="col">{% trans %}Result{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th id="hTotalComments" scope="row" headers="hCategory">{% trans %}Total comments{% endtrans %}</th>
            <td headers="hResult hTotalComments">{{ counts.totalComments }}</td>
        </tr>
        <tr>
            <th id="hModulesWithComments" scope="row" headers="hCategory">{% trans %}Modules that have comments{% endtrans %}</th>
            <td headers="hResult hModulesWithComments">{{ counts.modules }}</td>
        </tr>
        <tr>
            <th id="hUsersWithComments" scope="row" headers="hCategory">{% trans %}Users with comments{% endtrans %}</th>
            <td headers="hResult hUsersWithComments">{{ counts.users }}</td>
        </tr>
        <tr>
            <th id="hLastPoster" scope="row" headers="hCategory">{% trans %}Last post by{% endtrans %}</th>
            <td headers="hResult hLastPoster">{{ counts.lastPost.0.anonname }}</td>
        </tr>
        {% for mostActiveName, mostActiveNumber in counts.mostActive %}
            {% if loop.first %}
                <tr>
                    <th id="hMostActivePoster" scope="row" headers="hCategory">{% trans %}Most active poster{% endtrans %}</th>
                    <td headers="hResult hMostActivePoster">{% trans with {'%userName%': mostActiveName, '%amount%': mostActiveNumber} %}%userName% with %amount% posts{% endtrans %}</td>
                </tr>
            {% endif %}
        {% endfor %}
        <tr>
            <th id="hPostRate" scope="row" headers="hCategory">{% trans %}Post rate{% endtrans %}</th>
            <td headers="hResult hPostRate">{% trans with {'%amount%': counts.postRate|number_format(3)} %}%amount% posts per day{% endtrans %}</td>
        </tr>
    </tbody>
</table>
