{{ pageAddAsset('javascript', zasset('jquery-ui/jquery-ui.js')) }}
{{ pageAddAsset('stylesheet', asset('jquery-ui/themes/base/jquery-ui.min.css')) }}
{{ pageAddAsset('stylesheet', zasset('@ZikulaEZCommentsModule:css/style.css')) }}
{{ pageAddAsset('javascript', zasset('@ZikulaEZCommentsModule:js/Zikula.EZComments.GetComments.js')) }}

<hr/>
<div id="Comments">
    <h3>{{ __('Comments') }}</h3>
    {% for item in items %}
        {% if currentUser.loggedin %}
            <div id="itemComment_{{ item.id }}">
                <h3 id="itemSubject_{{ item.id }}">{{ item.subject }}</h3>
                <p><i class="username" id="itemName_{{ item.id }}">{{ item.anonname}}</i>
                    {% if item.replyto == 0 %}
                        <span id="twiddle_{{ item.id }}" title="View Replies" class="fa fa-toggle-left fa-lg"></span>
                    {% endif %}
                    {% if currentUser.uid == item.ownerid or isAdmin %}
                        <span id="edit_{{ item.id }}" title="Edit Comment" class="fa fa-pencil fa-lg"></span>
                        <span id="trash_{{ item.id }}" title="Delete Comment" class="fa fa-trash fa-lg"></span>
                    {% endif %}
                </p>
                <p id="itemComment_{{ item.id }}" class="alert alert-warning">{{ item.comment }}</p>
                <p id="replyPara">
                    <span id="reply_{{ item.id }}" title="reply" class="fa fa-mail-reply fa-large"></span>
                </p>
                <div id="itemChild_{{ item.id }}"></div>
            </div>
        {% else %}
            <div id="itemComment_{{ item.id }}">
                <h3 id="itemSubject_{{ item.id }}">{{ item.subject }}</h3>
                <p><i class="username" id="itemName_{{ item.id }}"> {{ item.anonname }}</i>
                    {% if item.replyto == 0 %}
                        <span id="twiddle_{{ item.id }}" class="fa fa-toggle-left"></span>
                    {% endif %}
                </p>
                <p id="itemComment_{{ item.id }}" class="alert alert-info">{{ item.comment }}</p>
                <p id="replyPara">
                    <span id="reply_{{ item.id }}" title="reply" class="fa fa-mail-reply fa-large"></span>
                </p>
                <div id="itemChild_{{ item.id }}"></div>
            </div>
        {% endif %}
    {% endfor %}
    <p>
        <span id="newComment_{{ item.id }}" title="Add a comment" class="fa fa-plus fa-large"></span>
    </p>
    <!-- add another divs comment section for JS to grab to add new comments dynamically -->
    <div class="hidden itemComment">
        <h3 id="itemSubject"></h3>
        <p><i class="username" id="itemName"></i>
            <span id="twiddle" title="View Replies" class="fa fa-toggle-left fa-lg"></span>
            <span id="edit" title="Edit Comment" class="fa fa-pencil fa-lg"></span>
            <span id="trash" title="Delete Comment" class="fa fa-trash fa-lg"></span>
        </p>
        <p id="itemComment" class="alert alert-success"></p>
        <p id="replyPara">
            <span id="reply" title="reply" class="fa fa-mail-reply fa-large"></span>
        </p>
    </div>
</div>
<div id="commentFormDiv">
    <div class="comment_form" id="comment_0">
        <form id="commentForm" action="{{ path('zikulaezcommentsmodule_comment_comment') }}" method="post"
              enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="artId" value="{{ artId }}">
            <input type="hidden" name="module" value="{{ module }}">
            <input type="hidden" name="retUrl" value="{{ retUrl }}">
            <input type="hidden" name="areaId" value="{{ areaId }}">
            <input type="hidden" name="parentID" value="0">
            <table class="table">
                {% if currentUser.loggedIn %}
                    <tr>
                        <td><b>{{ __('Name: ') }} </b></td>
                        <td><input name="user" value="{{ currentUser.uname }}" maxlengh="100" size="50"/></td>
                    </tr>
                {% else %}
                    <tr>
                        <td><b>{{ __('Name: ') }} </b></td>
                        <td><input name="user" value="Anonymous Coward" maxlengh="100" size="50"/></td>
                    </tr>
                    <tr>
                        <td><b>{{ __('Email: ') }} </b></td>
                        <td><input name="anonEmail" value="Anonymous Coward's Email" maxlengh="100" size="50"/></td>
                    </tr>
                    <tr>
                        <td><b>{{ __('Website: ') }} </b></td>
                        <td><input name="anonWebsite" value="Anonymous Coward's Website" maxlengh="100" size="50"/></td>
                    </tr>

                {% endif %}
                <tr>
                    <td><b>{{ __('Subject: ') }} </b></td>
                    <td><input name="subject" maxlength="100" size="50"/></td>
                </tr>
            </table>
            <br/>
            <textarea rows="5" cols="60" name="comment"></textarea>
            <div class="form-group">
                <button id="addComment" type="submit" class="btn btn-success" name="addComment" value="addComment">
                    {{ __('Add comment') }}
                </button>
                <button type="reset" class="btn btn-default" name="reset_form" onclick="this.form.reset()">
                    {{ __('Reset') }}
                </button>
            </div>
        </form>
    </div>
</div>
<!-- comment form -->
<div class="alert alert-danger hidden" id="no_replies">{{ __('No replies to show!') }}</div>