<h3>
    <span class="fa fa-wrench"></span>
    {% trans %}Settings{% endtrans %}
    {{ pageSetVar('title', 'Settings'|trans) }}
</h3>

{{ form_start(form) }}
{{ form_errors(form) }}

<fieldset>
    <legend>{% trans %}General settings{% endtrans %}</legend>
    {{ form_row(form.allowanon) }}
</fieldset>

<div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
        {{ form_widget(form.save) }}
        {{ form_widget(form.cancel) }}
    </div>
</div>

{{ form_end(form) }}
